@media (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }
    .header {
        &__inner {
            justify-content: space-around;
        }
        &__menu {
            max-width: 70%;
        }
        &__link {
            margin-right: 35px;
        }
    }
    .card {
        width: 210px;
        &__wrapper {
            justify-content: space-around;
        }
        &_services {
            width: 310px;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(3), &:last-child {
                margin-top: 30px
            }
        }
        &_video {
            width: 290px;
            height: 367px;
        }
        &_accordion {
            width: 45%;
        }
        &_photo {
            width: 350px;
            img {
                width: 350px;
            }
        }
        &__inner {
            padding: 15px;
        }
        &__accordion {
            width: 180px;
        }
        &__title {
            &_upper {
                font-size: 17px;
            }
        }
    }
    .list {
        margin-top: 20px;
        &__item {
            margin-top: 10px;
        }
    }
    .services {
        &__titles {
            margin-bottom: 70px;
        }
    }
    .footer {
        &__img {
            max-width: 15%;
        }
    }
    .title {
        &_video {
            margin-left: 0;
            text-align: center;
        }
    }
    .video {
        padding-top: 100px;
    }
}
@media (max-width: 991px) {
    .header {
        &__logo {
            width: 115px;
        }
        &__link {
            font-size: 12px;
            margin-right: 20px;
        }
        &__search {
            width: 45px;
            height: 45px;
        }
    }
    .video {
        min-height: 650px;
        padding-top: 80px;
    }
    .title {
        &_video {
            margin: 0 auto;
            text-align: center;
        }
    }
    .services {
        &__img {
            margin-bottom: 20px;
        }
        &__more {
            margin-top: 10px;
        }
    }
    .card {
        width: 35%;
        margin-right: 0;
        &:nth-child(3) {
            margin-top: 50px;
        }
        &_red {
            margin-top: 50px;
        }
        &_accordion {
            width: 45%;
        }
        &_photo {
            width: 300px;
            min-height: 400px;
            img {
                width: 300px;
                height: 400px;
            }
        }
        &_video {
            width: 220px;
            margin-right: 30px;
            &:nth-child(3) {
                margin-top: 0;
            }
        }
    }
    .list {
        padding-left: 10px;
    }
    .footer {
        &__img {
            display: none;
        }
        &__nav {
            margin-left: 20px;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &__menu {
            position: absolute;
            top: 0;
            left: -100%;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            height: 100vh;
            border-radius: 20px;
            background-color: $main-color;
            padding: 50px;
            transition: .5s all;
            &_active {
                left: 0;
            }
        }
        &__link {
            color: $second-color;
            text-align: center;
            margin: 0;
        }
        &__inner {
            position: relative;
            justify-content: space-between;
            height: 100%;
        }
        &__search {
            position: absolute;
            right: 50px;
        }
        .hamburger {
            display: flex;
        }
    }
    .main {
        min-height: 500px;
        padding: 50px 0;
        &__list {
            width: 100%;
            margin: 0 auto;
            justify-content: space-around;
        }
        &__adv {
            &:after {
                display: none;
            }
        }
        &__buttons {
            flex-wrap: wrap;
            margin: 0 auto;
        }
    }
    .card {
        width: 100%;
        margin-top: 25px;
        margin-right: 0;
        &__wrapper {
            flex-wrap: wrap;
            &_video {
                flex-wrap: wrap;
                bottom: 0;
                width: 320px;
            }
        }
        &__inner {
            padding-top: 20px;
        }
        &__descr {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            margin-top: 15px;
        }
        &__title {
            &_upper {
                text-align: center;
            }
            &_white {
                text-align: center;
                &:after {
                    margin: 20px auto;
                }
            }
        }
        &__more {
            margin-top: 15px;
        }
        &__accordion {
            width: 80%;
            margin: 40px auto;
        }
        &_accordion {
            width: 100%;
            margin-right: 0;
        }
        &_video {
            width: 320px;
            img {
                width: 320px;
            }
        }
        &_photo {
            width: 450px;
            min-height: 450px;
            img {
                width: 450px;
                height: 450px;
            }
        }
        &_red {
            width: 50%;
        }
    }
    .services {
        padding: 70px 0;
        &__titles {
            margin-bottom: 50px;
        }
        &__header {
            font-size: 40px;
        }
        &__img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &__more {
            text-align: center;
        }
    }
    .white {
        padding: 50px 0;
    }
    .red {
        padding: 50px 0;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__text {
            width: 100%;
        }
        &__descr {
            margin: 25px 0;
        }
    }
    .logos {
        padding: 30px 0 50px;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            width: 100%;
            height: 100px;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .footer {
        &__stripe {
            display: none;
        }
        &__nav {
            flex-wrap: wrap;
            margin: 0;
        }
        &__menu {
            width: 100%;
            margin: 20px auto 0;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .title {
        &_main {
            font-size: 40px;
            line-height: 40px;
            text-align: center;
        }
        &_fade {
            font-size: 100px;
        }
        &_video {
            font-size: 45px;
            line-height: 45px;
        }
        &_upper {
            text-align: center;
        }
    }
    .button {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        &_red {
            width: 70%;
            margin: 0 auto;
            margin-top: 20px;
        }
        &_video {
            width: 60px;
            height: 60px;
        }
        &_accordion {
            width: 65%;
            margin-top: 0;
        }
    }
    .video {
        min-height: 1450px;
        padding-top: 70px;
    }
    .list {
        &__item {
            color: #ffffff;
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__top {
            display: none;
        }
        &__main {
            height: 100px;
            padding: 25px 0;
        }
        &__search {
            width: 35px;
            height: 35px;
        }
    }
    .title {
        &_main {
            font-size: 36px;
            line-height: 36px;
        }
        &_fade {
            font-size: 50px;
            line-height: 50px;
        }
        &_upper {
            font-size: 23px;
            text-align: center;
        }
        &_video {
            font-size: 30px;
            line-height: 30px;
        }
    }
    .main {
        &__descr {
            font-size: 18px;
        }
        &__adv {
            font-size: 14px;
        }
    }
    .services {
        padding: 50px 0;
        &__titles {
            margin-bottom: 30px;
        }
        &__header {
            font-size: 22px;
        }
    }
    .video {
        min-height: 1430px;
        padding-top: 50px;
    }
    .card {
        max-width: 320px;
        &__inner {
            padding: 20px 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__title {
            font-size: 18px;
            text-align: center;
            &_white {
                &:after {
                    margin: 15px auto 0;
                }
            }
        }
        &__accordion {
            margin-top: 20px;
        }
        &__descr {
            width: 100%;
            &_white {
                text-align: center;
            }
        }
        &_photo {
            width: 250px;
            min-height: 250px;
            &:hover {
                border-width: 10px;
            }
            img {
                width: 250px;
                height: 250px;
                &:hover {
                    top: 5px;
                    left: 5px;
                }
            }
        }
        &_video {
            height: 373px;
        }
        &_red {
            width: 100%;
            height: 320px;
        }
    }
    .list {
        margin-top: 15px;
        &_footer {
            margin: 25px 0 0 20px;
        }
        &__item {
            font-size: 15px;
            margin-top: 10px;
        }
    }
}